body
{
  background-color: #a2ecf2;
  margin-right: 4%;
}
#question
{
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin-left: 22%;
  margin-right: 20%;
  margin-top: 4%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 3vw;
}
#options
{
  background-color: white;
  border-radius: 20px;
  text-align: center;
  width:42%;
  height: 20%;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 2%;
  max-width: 100%;
  max-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
display:inline-table;
}
#button2
{
  width:30%;
  height: auto;
  background-color: #ebe8df;
  border-radius: 15px;
  font-size: 2vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#button2:hover
{
background-color: #a2ecf2;
}
#button3
{
  width:30%;
  height: auto;
  background-color: #ebe8df;
  border-radius: 15px;
  font-size: 2vw;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#button3:hover
{
background-color: #a2ecf2;
}
#button4
{
  width:30%;
  height: auto;
  background-color: #ebe8df;
  border-radius: 15px;
  font-size: 2vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#button4:hover
{
background-color: #a2ecf2;
}
#button5
{
  width:30%;
  height: auto;
  background-color: #ebe8df;
  border-radius: 15px;
  font-size: 2vw;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#button5:hover
{
background-color: #a2ecf2;
}
#choices
{
  background-color: white;
  border-radius: 20px;
  text-align: center;
  width:42%;
  height: 12%;
  max-width: 100%;
  max-height: 100%;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 10%;
  display: inline-block;
}
#submit
{
  font-size: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color:#0059b3;
  color:white;
  border-radius: 15px;

  padding-left:  10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#submit:hover
{
background-color: #a2ecf2;
color:black ;
}
#next
{
  font-size: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
    background-color:#0059b3;
    border-radius: 15px;

    color:white;
      padding: 10px;
      padding-left:  20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
}
#next:hover
{
background-color: #a2ecf2;
color: black;
}
#scores
{
  display: none;
  float: center;
  width:40%;
  height:40%;
  background-color: white;
  font-size: 4vw;
 border-radius: 10px;
 margin-top: 10%;
 margin-right: 10%;
 margin-left: 25%;
 padding: 5%;
text-align: center;
}
#scoretotal
{
  text-align: center;
}
#try, #try2
{
  display: none;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
  margin-left: 3%;

}
#playagain
{
  display:none;
    margin-left: 40%;
    margin-top: 3%;


}
#playagainbutton
{
    font-size: 3vw;
border-radius: 15px;
  background-color: #67eb34;
  padding:8px;
  border-color: #67eb34 ;
  color: #f5f3f0;
  }
